{% extends 'user/base1.html' %}
{% load static %}
{% block content %}
{% for msg in messages %}
{{msg}}
{% endfor%}
<form action="" method="post">
  {% csrf_token %}


            <div class="form-group">
                <input type="text" class="form-control item" id="firstname" placeholder="Firstname" name="firstname" value="{{userdetailsview.firstname}}" readonly>
            </div>
             <div class="form-group">
                <input type="text" class="form-control item" id="lastname" placeholder="Lastname" name="lastname" value="{{userdetailsview.lastname}}" readonly>
            </div>
             <div class="form-group">
                <input type="text" class="form-control item" id="email" placeholder="Email" name="email" value="{{userdetailsview.email}}" readonly>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="contactno" placeholder="ContactNo" name="contactno" value="{{userdetailsview.contactno}}" readonly>
            </div>


            <div class="form-group">
                <a href="{% url 'blockuser' userdetailsview.id %}" class="btn btn-primary"  onclick="showAlert()">Block</a>

            </div>
        </form>

{% endblock%}